<template name="Match">
  <div class="btn-group">
    {{#if remainingCount}}
    {{else}}
      {{#if matchable}}
        {{#if existingMatches}}
          <button type="submit" class="btn btn-danger">
            Reshuffle Santas
          </button>
        {{else}}
          <button type="submit" class="btn btn-primary">
            Match Santas
          </button>
        {{/if}}
      {{else}}
        {{#if existingMatches}}
          <button class="btn btn-danger disabled" data-toggle="tooltip" data-placement="top" title="Significant others must match reciprocally">
            Reshuffle Santas
          </button>
        {{else}}
          <button class="btn btn-primary disabled" data-toggle="tooltip" data-placement="top" title="Significant others must match reciprocally">
            Match Santas
          </button>
        {{/if}}
      {{/if}}
      {{#if existingMatches}}
        <button type="reset" class="btn btn-warning">Clear Matches</button>
      {{/if}}
    {{/if}}
  </div>
</template>
